@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* reset */
input, button {
  all: unset;
}

body {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  box-sizing: border-box;
  background-color: #ffffffc4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-top: 8px solid #57746c;
  border-bottom: 8px solid #57746c;
  height: 100%;
  min-height: 100vh;
}
h1 {
  font-weight: 500;
  margin: 0;
  padding: 0.125rem 0 0.5rem;
}
input {
  border: 1px solid #9cb3ad;
  width: 80%;
  padding: 0.25rem;
}
#add-btn{
  padding: 0.25rem 0.5rem;
  margin-left: 0.25rem;
  border: 1px solid #57746c;
}
button {
  background-color: #57746c;
  color: white;
  padding: 0.25rem 0.75rem;
  margin-left: 0.75rem;
  cursor: pointer;
}
.task-area {
  border: 1px solid #9cb3ad;
  margin-top: 0.9rem;
}
.task-taps {
  display: flex;
  border-bottom: 1px solid #9cb3ad;
  position: relative;
}
.task-taps div {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#under-line {
  height: 0.25rem;
  background-color: #57746c;
  position: absolute;
  width: 47px;
  left: 0;
  top: 38px;
  padding: 0;
  transition: 0.4s;
}
#task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #9cb3ad;
}
.icon {
  background-color: #ffffff00;
  color: #57746c;
}
.task-done {
  text-decoration: line-through;
}
.task-done-color {
  background-color: lightgray;
}